<div class="row">
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.text_field :first_name, placeholder:"First Name", hide_label: true %>
	</div>
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.text_field :last_name, placeholder:"Last Name", hide_label: true %>
	</div>
</div>

<div class="row">
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.date_field :date_of_birth, placeholder:"Date of Birth (MM/DD/YYYY)", hide_label: true %>
	</div>
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.text_field :phone_number, placeholder:"Contact Number", hide_label: true %>
	</div>
</div>

<div class="row">
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.text_field :email, placeholder:"Email Address", hide_label: true %>
	</div>
	<div class="text-field col-6" data-toggle="tooltip" title="">
	  <%= form.file_field :avatar, placeholder:"Upload an avatar! (Optional)", hide_label: true %>
	</div>
</div>