<div class="row mb-2">
	<div class="col"><%= link_to response.user.full_name, user_path(response.user.id)%></div>

	<% if(response.is_approved == false) %>
		<div class="col-1">
			<%= link_to "<i class=\"fas fa-check\" style=\"color: green\"></i>".html_safe, response_path(response.id), method: :put %>
		</div>
	<% end %>

	<% if(response.project.is_complete == true) %>
		<% if (Review.find_by(user_id: response.user.id, project_id: response.project.id).nil?) %>
			<div class="col-1">
				<%= link_to "<i class=\"fas fa-pen-fancy\" style=\"color: orange\"></i>".html_safe , "#" , "data-target":"#ratingmodal-#{response.user.id}" , "data-toggle":"modal", id: "#{response.user.id}"%>
			</div>			
		<%end%>
	<% else %>
		<div class="col-1">
			<%= link_to "<i class=\"fas fa-times\" style=\"color: red\"></i>".html_safe, response_path(response.id), method: :patch %>
		</div>
	<% end %>

	<div class="col-1">
		<%= link_to "<i class=\"fas fa-comment-alt\" style=\"color: blue\"></i>".html_safe%>
	</div>

</div>