<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="row">
  <div class = "col">
    <%= form.text_field :title , hide_label: true, prepend: "Project Title" %>
  </div>
</div>

<div class="row">
  <div class = "col-4" data-toggle="tooltip" title="Estimated time for project completion (minutes)">
    <%= form.text_field :estimated_time, hide_label: true, prepend: Project::SYMBOLS[:clock]%>
  </div>

  <div class = "col-4" data-toggle="tooltip" title="Maximum number of people required (0 = no limit)">
    <%= form.text_field :max_people, hide_label: true, prepend: Project::SYMBOLS[:person]%>
  </div>

  <div class = "col-4" data-toggle="tooltip" title="Project category">
    <%= form.select :category, Project::CATEGORIES, hide_label: true, prepend: Project::SYMBOLS[:category] %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.text_area :detail, hide_label: true, rows: 5, placeholder: "Add some detail regarding your project here..."%>
  </div>
</div>

<hr />

<div class = "col-6" style="display:none">
  <%= form.text_field :longitude, id: :project_longitude, class:"listingtext" %><br>
</div>
<div class = "col-6" style="display:none">
  <%= form.text_field :latitude, id: :project_latitude, class:"listingtext" %><br>
</div>

<div class="row">
  <div class = "col" data-toggle="tooltip" title="Street Address">
    <%= form.text_field :location, hide_label: true, prepend: Project::SYMBOLS[:map] %>
  </div>
</div>

<div id='map' style="height:700px; width:100%"></div>

<hr />

<div class="row">
  <div class = "col">
    <%= form.file_field :images, multiple: true, hide_label: true, placeholder: "Upload images for your project! (optional)"%><br>
  </div>
</div>

<div class="row">
  <div class="col"></div>

  <div class="col">
    <%= link_to "Back to my Profile", user_path(current_user.id), class: "btn btn-secondary" %>
  </div>
  <div class="col">
    <%= form.submit "Submit Project", class: "btn btn-primary" %>
  </div>

  <div class="col"></div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoianVzdGluaGlld2NqIiwiYSI6ImNqb255bm5naTFiOGYzcG5vOXN3eWE5am4ifQ.DCwE-GkXgAVdexBZ0q_4mQ';
    var coordinates = document.getElementById('coordinates');
    var longitude = document.getElementById('project_longitude');
    var latitude = document.getElementById('project_latitude');
    console.log(document.getElementById('project_location'))
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [101.686855, 3.139003],
    zoom: 1
    });
    
    //Marker descriptions
    var marker = new mapboxgl.Marker({
    draggable: true
    })
    //.setLngLat([101.686855, 3.139003])
    //.addTo(map);
    
    // Add geolocate control to the map.
    geolocate = new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
    });
    map.addControl(geolocate);
     geolocate.on('geolocate', function(e){
      var coord = e.coords;
      console.log(coord);
      marker.setLngLat([coord.longitude, coord.latitude]).addTo(map);
      longitude.value = coord.longitude;
      latitude.value= coord.latitude;
    });
    
    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());
    
    //Add Search function by location
    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      zoom: 17,
      placeholder: "Enter search e.g. Glo",
    });
    
    map.addControl(geocoder);
     //attempt at making marker follow the geocoder,
    //geocoder automatically updates coordinates form
    geocoder.on('result', function(object){
       console.log(object.result.geometry.coordinates);
       var coord = object.result.geometry.coordinates;
       marker.setLngLat([coord[0], coord[1]]).addTo(map);
       longitude.value = coord[0];
       latitude.value= coord[1];
    });
     //Function to allow dragging and to stop dragging marker
    function onDragEnd() {
    var lngLat = marker.getLngLat();
       
    //after dragging updates hidden form coordinates
    longitude.value = lngLat.lng;
    latitude.value= lngLat.lat;
    }
    
    map.on('click', placeMarker)
    marker.on('dragend', onDragEnd);
     //placing the marker
    function placeMarker(lngLat) {
        var marker = new mapboxgl.Marker({
        position: lngLat,
        map: map
    })};
    
    map.event.addListener(map, 'click', function(event) {
      placeMarker(event.lngLat, map);
    });
</script>