<div class="col-12 my-2">
	<div class="card" style="width: 100%; height: 100%">
		<div class="card-header">
			<div class="row">
				<div class="col text-left">
					<b><%=link_to project.title, project_path(project.id), style: "color:black"%></b>
				</div>
				<div class="col-2 text-right">
					<%=(project.is_complete==true)? '<span style="color:green">COMPLETE</span>'.html_safe : ""%>
				</div>
			</div>
			
		</div>

		<div class="card-body">
			<div class="card-text">
				<%=project.detail.truncate(100)%>
			</div>
		</div>

		<div class="card-footer">
			<div class="row text-center">
				<div data-toggle="tooltip" title="<%=project.category%>" class="col">
					<%=project.category_icon%>
				</div>
				<div data-toggle="tooltip" title="<%=project.max_people%> people needed" class="col">
					<%=project.display_capacity%>
				</div>
				<div data-toggle="tooltip" title="<%=project.estimated_time%> minutes" class="col">
					<%=project.display_estimated_time%>
				</div>
			</div>
		</div>
	</div>    	
</div>
