<%# <h1>New Project</h1> %>

<%# <%= render 'form', project: @project %> 


<h1> Post a Project!</h1>



<%= bootstrap_form_with scope: :project , url:projects_path, local: true do |form| %>

  <div class = "col-6">
    <%= form.text_field :title ,label_class: "listingtext" %>
  </div> 

  <div class = "col-6">
    <%= form.text_area :category,label_class: "listingtext" %>
  </div>

  <div class = "col-6">
       <%= form.text_area :estimated_time,label_class: "listingtext" %>
  </div>

  <div class = "col-6">
    <%= form.text_area :max_people,label_class: "listingtext" %>
  </div>

  <div class = "col-6">
     <%= form.text_area :location,label_class: "listingtext" %>
  </div>

  <div class = "col-6">
    <%= form.file_field :images, multiple: true, class:"listingtext" %><br>
  </div>
 
  
  <div>
    <%= form.submit "Submit Project" %>
  </div>
  <% end %>
<br/>




<%= link_to 'Back', projects_path %>
