<h3>NOTE FROM DUSTIN: This currently uses the _project partial as a placeholder it should be changed</h3>
<h3> <%=@project.title%> </h3>
<p> Category: <%= @project.category %> </p>
<p> Estimated Time: <%= @project.estimated_time %> </p>
<p>Max People: <%= @project.max_people %> </p>
<p>location: <%= @project.location %> </p>
<p>latitude: <%= @project.latitude %> </p>
<p>longitude: <%= @project.longitude %> </p>
<p>Poster: <%= @project.user.first_name %> </p>
<%@project.images.each do |i|%>
  <%= image_tag i.url(:thumb).to_s %>
<%end%>

<%if signed_in?%>
  <%if current_user.id == @project.user_id || current_user.moderator? || current_user.superadmin?%>
    <%# <%=link_to "Talk to Volunteers!", class: 'btn btn-info' %> 
    <%if @project.is_complete == false%>
      <%= link_to 'Mark as Complete', complete_project_path(@project.id), method: :patch%>
      <%= link_to 'Edit', edit_project_path(@project) %>
      <%= link_to 'Delete', project_path(@project),
                        method: :delete,
                        data: {confirm: 'Sure?'}%>

    <h1> Pending Volunteers: </h1>
    <%= render partial: 'users/volunteer', collection: @pending, as: :response%>
    <%end%>

    <h1> Approved Volunteers: </h1>
    <%= render partial: 'users/volunteer', collection: @approved, as: :response%>    

  <%else%>
	 <%=link_to "Volunteer!", response_path(@project.id), class: 'btn btn-primary' %>
  <%end%>
<% end %>