Dustin: This is the page that asks for confirmation when responding to a project. Put this in a modal on the project#show page instead?
<hr/>

<h1>Confirmation for volunteering to <%=@project.title%></h1>
<h2> fuck </h2>

<%= form_with url: responses_path do |form|%>
	<%= form.hidden_field :project_id, value: @project.id %>
	<%= link_to "Back to Project", project_path(@project), class: "btn btn-secondary"%>
	<%= form.submit "Confirm", class: "btn btn-success"%>
<% end %>