<!-- # <h2>New review for <#%="#{@user.full_name} regarding #{@project.title}"%></h2> -->
<%= form_with scope: :review, url: reviews_path do |form| %>
  <%= form.hidden_field :user_id, value: user_id, id: "user_id_#{user_id}"%>
  <div class="text-center" id='star-<%=user_id%>'></div>
  <%= form.text_area :text, rows: 8, cols: 39, placeholder: "Write some comments (Optional)", id: "review_text_#{user_id}"%> <br />

  <%= form.button "Submit Review!", type: "submit", name: "review[project_id]", value: @project.id, class: "btn btn-success w-100"%>

  <script>
    $('#star-<%=user_id%>').raty({
        path: '/assets',
        scoreName: 'review[rating]',
    });
  </script>
<% end %>