<div class="container text-center">
	<div class="row">
		<div class="col">
			<h3>Project Owner:</h3>
			<%= image_tag @poster.avatar.url, class: "profilepicture"%><br/>
			<%= @poster.full_name%>
		</div>

		<div class="col">
			<h3>Volunteer:</h3>
			<%= image_tag @volunteer.avatar.url, class: "profilepicture"%><br/>
			<%= @volunteer.full_name%>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h1><%=@review.star_rating%></h1>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col">
			<%="For their contribution in #{@project.title}."%>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<b>Additional Comments</b>
			<hr />
			<div class="text-left">				
				<%=@review.text%>
			</div>
		</div>
	</div>

	<hr />

	<div class="row mb-5">
		<div class="col">
			<%= link_to "View Project Owner", user_path(@poster.id), class: "btn btn-secondary"%>
			<%= link_to "View Project", project_path(@project.id), class: "btn btn-primary"%>
			<%= link_to "View Volunteer", user_path(@volunteer.id), class: "btn btn-secondary"%>		
		</div>
	</div>

</div>