<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
  </head>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel = "stylesheet" href = "search_bar.scss">
    <style>
      .coordinates {
          background: rgba(0,0,0,0.5);
          color: #fff;
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding:5px 10px;
          margin: 0;
          font-size: 11px;
          line-height: 18px;
          border-radius: 3px;
          display: none;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light container-fluid" style="background-color: #bdecb6;">
      <!-- instead of home this is gonna be our logo -->
      <a href="<%=root_url%>"><img src="/logo.png" alt="logo" class="navbar-brand" style="width: 25px"></a>
      <%= form_with url: search_path , class:"form-inline" ,local:true do |form| %>
        <%= form.text_field :search , class:"form-control mr-sm-2", type:"search", placeholder: "Search", id:"keyup" , list:"titles" %>
        <%= form.submit  "Search" , class:"btn btn-outline-dark my-2 my-sm-0"  %>
        <datalist id="titles">
        </datalist>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <% if signed_out? %>
              <li class="nav-item mr-3">
                <%= link_to 'Sign Up', "#", data: {toggle: "modal", target: "#exampleModal"} , class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Login', "#", data: {toggle: "modal", target: "#exampleModal1"} , class:"nav-link" %>
              <% end %>
              <% if signed_in? %>
                <li class="nav-item mr-5">
                  <%= link_to 'Ask for Help' , new_project_path , class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%=link_to image_tag(current_user.avatar_url.to_s, class:"navpicture") , user_path(current_user.id) %>
                </li>
              <% end %>
            </li>
          </li>
        </ul>
      </div>
    </nav>
    <div id="flash" class="text-center">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value%></div>
      <% end %>
    </div>
    <!-- sign up modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign Up for Boner</h5>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <form class="form-signin">
              <%= link_to ' Continue with Google' , '/auth/google_oauth2' ,class:"fab fa-google btn btn-lg btn-google btn-block text-uppercase" , type:"submit" %>
              <%= link_to ' Continue with Facebook' , '/auth/facebook' ,class:"fab fa-facebook-f mr-2 btn btn-lg btn-facebook btn-block text-uppercase" , type:"submit" %>
            </div>
          </form>
          <hr class="hr-text" data-content="OR">
          <p><%=link_to 'Create A Boner Account' , sign_up_path, class: 'btn btn-primary w-100' %></p>
          <p class = "mr-auto"><%=link_to 'Login to Boner' , sign_in_path, class: 'btn btn-success w-100' %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login to Boner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <%= bootstrap_form_for :session, url:session_path , :html => {:class => 'form-signin' }  do |form| %>
            <%= form.text_field :email, type: 'email' , hide_label: true, placeholder:"Email Address" %>
            <%= form.password_field :password,  hide_label: true, id:"inputPassword" , type:"password" , placeholder: "Password"%>
            <%= form.submit 'Login' , class: "btn btn-lg btn-primary btn-block text-uppercase mb-2"%>
            <hr class="hr-text" data-content="OR">
            <%= link_to ' Continue with Google' , '/auth/google_oauth2' ,class:"fab fa-google btn btn-lg btn-google btn-block text-uppercase mb-2" %>
            <%= link_to ' Continue with Facebook' , '/auth/facebook' ,class:"fab fa-facebook-f mr-2 btn btn-lg btn-facebook btn-block text-uppercase", method: "get" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Dont have an account? Sign up!", sign_up_path, class: 'btn btn-success w-100' %>
        </div>
      </div>
    </div>
  </div>
<%end%>
<div class= "container-fluid">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<!-- For activating tooltips -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
</body>
</html>